<div ng-controller="main.ctrl as vm" class="main_frame">
    <a href="#/agenda">
        <button type="button" class="btn btn-primary main_btn">
            <img src="modules/main/images/calendar.png">
            <div class="main_txt">Agenda</div>
        </button>
    </a>
    <a href="#/bitacoras">
        <button type="button" class="btn btn-primary main_btn">
            <img src="modules/main/images/bitacora.png">
            <div class="main_txt">Bitácoras</div>
        </button>
    </a>
    <a href="#/dialogos">
        <button type="button" class="btn btn-primary main_btn">
            <img src="modules/main/images/chat.png">
            <div class="main_txt">Dialogos</div>
        </button>
    </a>
    <a href="#/huespedes">
        <button type="button" class="btn btn-primary main_btn">
            <img src="modules/main/images/signup.png" >
            <div class="main_txt">Huespedes</div>
        </button>
    </a>
    <a href="#/contactos">
        <button type="button" class="btn btn-primary main_btn">
            <img src="modules/main/images/clients.png" >
            <div class="main_txt">Contactos</div>
        </button>
    </a>
    <a href="#/configuracion">
        <button type="button" class="btn btn-primary main_btn">
            <img src="modules/main/images/configuration.png" >
            <div class="main_txt">Configuracion</div>
        </button>
    </a>
</div>